prepros.config
prepros-6.config
/node_modules/
/p_**
ghs/
.DS_Store
_notes/
__done/
ftp-credentials.json
test.sh
test.php
test2.php
test.*
help-real-paths.txt
g-help-real-paths.txt
log.txt

!/myProject/**
